
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #333;
}

/* Styling for the form */
label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* HR Dashboard layout */
.container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.content {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

/*  HR Dashboard forms styling */
#add-form, #upload-form {
    margin-top: 20px;
    display: none;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    margin-bottom: 10px;
}

/* Sidebar */
.dropdown {
    margin-bottom: 10px;
    display: block;
}

.dropdown select {
    width: 100%;
    padding: 8px;
}

.dropdown label {
    display: block;
    margin-bottom: 5px;
}

/* Search Form place */
.search-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Login and Register Specific Styling */
.login-register-container {
    max-width: 400px;
    margin: auto;
}

.login-register-container h2 {
    text-align: center;
}

.login-register-container form {
    display: flex;
    flex-direction: column;
}

.login-register-container form input {
    margin-bottom: 15px;
}

.login-register-container form button {
    align-self: center;
}
